@use "sass:math";

@import "_fonts.scss";


$nav-width: 16%;
$aside-margin: 10px;
$nav-border-color: black;
$main-border-color: black;

%nav-link{
  color: black;
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: 'Roboto';
}

.aside{
  width: $nav-width;
  min-width: 250px;
  height: 100%;
  position: fixed;
  border-right: 1px solid $main-border-color;
  overflow: hidden;

  &__title{
    font-size: 3em;
    font-weight: 600;
    margin: {
      left: 25px;
      top: 25px;
      bottom: 25px;
    };
  }

  &__nav{
    font-weight: 500;
    overflow-y: auto;
  }

  &__list{
    overflow-y: auto;
    height: 100%;
  }

  &__link{
    @extend %nav-link;
  }
  
  &__list-item{
    font-size: 2em;
    padding: 20px 10px;
    border-top: 1px solid $nav-border-color;
    &:hover{
      background-color: grey;
      color: whitesmoke;
    }
  }


}


.main{
  margin: {
    left: $nav-width
  };
  padding: {
    top: 30px;
    left: 40px;
  };
  font-size: 2rem;
  &__article{
    margin-bottom: 40px;
  }
}

.article{
  font-size: 1em;
  line-height: 135%;
  font-weight: 300;
  padding: {
    top: 40px;
    right: 40px;
  };
  &__header{
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 40px;
  }

  &__paragraph{
    margin: {
      left: 15px;
      bottom: 25px;
      top: 25px;
    };
  }

  &__list{
    display: inline-block;
    margin: {
      top: 10px;
      bottom: 30px;
      left: 80px
    };
    .article__list{
      margin: {
        top: 35px;
        bottom: 0;
      };
    }
    &-item{
      margin-bottom: 20px;
      list-style-type: disc;
    }
  }
  &__code{
    display: block;
    font-style: italic;
    font-size: 0.9em;
  }
}