@use "sass:math";

@import "_fonts.scss";


$nav-width: 16%;
$aside-margin: 10px;
$nav-border-color: black;
$main-border-color: black;

%nav-link{
  color: black;
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: 'Roboto';
}

.aside{
  width: $nav-width;
  height: 100%;
  position: fixed;
  border-right: 1px solid $main-border-color;
  overflow: hidden;
  font-size: 1rem;
  &__title{
    font-size: 3em;
    font-weight: 600;
    padding: {
      left: 10px;
      top: 25px;
      bottom: 25px;
    };
  }

  &__nav{
    font-weight: 500;
    overflow-y: auto;
  }

  &__list{
    overflow-y: auto;
    height: 100%;
    max-height: 100vh;
    padding-bottom: 60px
  }

  &__link{
    @extend %nav-link;
  }
  
  &__list-item{
    font-size: 2em;
    padding: 20px 10px;
    border-top: 1px solid $nav-border-color;
    &:hover{
      background-color: grey;
      color: whitesmoke;
    }
  }


}


.main{
  margin: {
    left: $nav-width
  };
  padding: {
    top: 30px;
    left: 40px;
  };
  font-size: 2rem;
  &__article{
    margin-bottom: 40px;
  }
}

.article{
  font-size: 1em;
  line-height: 135%;
  font-weight: 300;
  padding: {
    top: 40px;
    right: 40px;
  };
  &__header{
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 40px;
  }

  &__paragraph{
    margin: {
      left: 15px;
      bottom: 25px;
      top: 25px;
    };
  }

  &__list{
    display: inline-block;
    margin: {
      top: 10px;
      bottom: 30px;
      left: 80px
    };
    .article__list{
      margin: {
        top: 35px;
        bottom: 0;
      };
    }
    &-item{
      margin-bottom: 20px;
      list-style-type: disc;
    }
  }
  &__code{
    display: inline-block;
    padding: {
      left: 60px;
      top: 30px;
      bottom: 20px;
      right: 60px;
    }
    font-style: italic;
    font-size: 0.9em;
    background-color: #020227;
    color: #F7F7F2;
    border-radius: 10px;
  }
}

.menu-button{
  border-radius: 10px;
  width: 45px;
  height: 45px;
  padding: 0;
  position: fixed;
  top: 1%;
  right: 1%;
  border: none;
  background: transparent;
  display: none;
  &__img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
  }

  &:active{
    background-color: rgb(219, 213, 213);
  }
}

.hide-overflow{
 height: 100vh;
 overflow: hidden;
}


@media (max-width:1920px) {
  .aside{
    font-size: 0.7rem;
  }
}

@media (max-width:1279px) {
  .menu-button{
    display: block;
  }
  .aside{
    display: none;
  }
  .aside_mobile{
    display: block;
    width:100% ;
    background-color: #F0F4EF;
  }
  .main{
    width: 100%;
    margin: 0 auto;
    padding: 15px;
  }

  .article{
    padding: 15px;
    &__header{
      text-align: center;
    }
    &__list{
      margin: 0 auto;
      padding-left: 30px;
    }
    &__code{
      padding-left: 5px;
      padding-right: 5px;
    }
  }

}